---
import { ClientRouter } from "astro:transitions";
import LandingNav from "../components/LandingNav.astro";
import "../styles/tailwind.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Project Me</title>
    <ClientRouter />
  </head>
  <body>
    <div id="container" transition:animate="slide">
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #nav {
    position: fixed;
    top: 0;
    width: 100%;
  }
</style>
