---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import LandingBg from "../assets/gallery/bg_portfolio.jpg";
import ProjectMasonry from "../components/ProjectMasonry.astro";
---

<Layout>
  <div id="container">
    <main>
      <div class="sections">
        <section id="intro">
          <div class="bg">
            <!-- <Picture src={LandingBg} alt="Landing background" /> -->
          </div>
          <!-- <div class="flex flex-col">
            <a>.projects</a>
            <a>.gallery</a>
            <a>.cv</a>
            <a>.contact</a>
          </div> -->
          <div class="intro-content">
            <h2 class="bg-black">INTERACTION DESIGNER</h2>
            <h1 class="bg-black">RUI</h1>
          </div>
        </section>
        <!-- <Navbar /> -->
        <!-- <TestNavbar /> -->
        <!-- Projects Section Preview -->
        <!-- <section
          class="section-preview"
          id="projects"
          transition:name="projects-section"
        >
          <ProjectView />
        </section> -->
        <!-- Gallery Section Preview -->
        <section
          class="section-preview"
          id="projects-section"
          transition:name="projects-section"
        >
          <h1>.projects</h1>
          <ProjectMasonry />
        </section>
      </div>
    </main>
  </div>

  <style>
    /* #container {
      min-height: 100vh;
    } */

    .sections {
      display: flex;
      flex-direction: column;
    }

    #intro {
      position: relative;
      height: 100vh;
      display: flex;
      width: 100%;
      padding: 2rem 0;
    }

    .intro-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      gap: 1rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 2rem;
    }

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .bg img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    #intro h1 {
      font-size: 10rem;
      font-weight: 600;
      margin: 0;
      line-height: 0.8;
      width: fit-content;
    }

    #intro h2 {
      font-size: 3rem;
      font-weight: 400;
      margin: 0;
      text-align: end;
    }

    #socials {
      justify-self: flex-end;
      align-self: flex-end;
    }

    @media screen and (min-width: 768px) {
      #intro h1 {
        font-size: 20rem;
      }

      h2 {
        font-size: 3rem;
      }

      .intro-content {
        padding: 4rem;
      }

      .section-preview {
        padding: 4rem;
      }
    }
  </style>
</Layout>
