---
import { getCollection } from "astro:content";

// get all project items and thumbnails
const galleryItems = await getCollection("gallery");
---

<div class="gallery-grid grid">
  <div class="gutter-sizer"></div>
  <div class="grid-sizer"></div>
  {galleryItems.map((item) => <div class="grid-item">{item.data.medium}</div>)}
  <div class="grid-item grid-item--wide">3</div>
  <div class="grid-item grid-item--long">4</div>
  <div class="grid-item grid-item--long">5</div>
  <div class="grid-item grid-item--long">6</div>
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">9</div>
  <div class="grid-item">8</div>
  <div class="grid-item">8</div>
</div>

<script>
  import Masonry from "masonry-layout";
  // init with selector
  var msnry = new Masonry(".gallery-grid", {
    gutter: ".gutter-sizer",
    columnWidth: ".grid-sizer",
    itemSelector: ".grid-item",
    percentPosition: true,
  });
</script>

<style>
  .gallery-grid {
    /* background: #eee; */
    /* max-width: 1200px; */
  }

  /* clearfix */
  .grid:after {
    content: "";
    display: block;
    clear: both;
  }

  .gutter-sizer {
    width: 4%;
  }

  /* ---- grid-item ---- */
  .grid-sizer,
  .grid-item {
    width: 48%;
    aspect-ratio: 1/1;
    /* height: 100px; */
    float: left;
    background: #d26;
    /* border: 2px solid #333; */
    /* border-color: hsla(0, 0%, 0%, 0.5); */
    border-radius: 5px;
    margin-bottom: 1em;
  }

  .grid-item--square {
    aspect-ratio: 1/1;
  }

  .grid-item--cinematic {
    aspect-ratio: 16/9;
  }

  .grid-item--wide {
    aspect-ratio: 4/3;
  }
  .grid-item--long {
    aspect-ratio: 3/4;
  }

  .grid-item--height2 {
    height: 200px;
  }
  .grid-item--height3 {
    height: 260px;
  }
  .grid-item--height4 {
    height: 360px;
  }

  @media screen and (min-width: 768px) {
    .grid-sizer,
    .grid-item {
      width: 32%;
    }
    .gutter-sizer {
      width: 2%;
    }
  }

  @media screen and (min-width: 1024px) {
    .grid-sizer,
    .grid-item {
      width: 24%;
    }
    .gutter-sizer {
      width: 1%;
    }
  }

  @media screen and (min-width: 1200px) {
    .grid-sizer,
    .grid-item {
      width: 19%;
    }
    .gutter-sizer {
      width: 1%;
    }
  }
</style>
