<section id="intro">
  <h1>
    RUI
    <!-- <span>INTERACTION DESIGNER</span> -->
  </h1>
  <h2>INTERACTION DESIGNER</h2>
</section>

<style>
  #intro {
    position: absolute;
    /* line-height: 0.8; */
    bottom: -1em;
    /* align-items: last baseline; */
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    width: 100%;
  }
</style>
